/* body{ */
  background: linear-gradient(to top, #58151A, #BC2909, #BA6D09, #71A8EE, #3072EB, #1552C6, #0542A8);
}
.strike {
  color: red;
  text-decoration: line-through;
}

.show_btn {
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  display: block;
  background:#ff7200;
  font-size: 1rem;
}
.field-container{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-top: 30px;
}
.field-container label{
  color: white;

}
.field-container input{
  font-size: 20px;
}

input:disabled {
  cursor: no-drop;
}