
   body{
    background: linear-gradient(to top, #58151A, #BC2909, #BA6D09, #71A8EE, #3072EB, #1552C6, #0542A8);;
    }
    h4{
        text-align: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
    }
    .map{
        text-align: center;

    }

    .map iframe {
        box-shadow: 0 0 30px 10px rgb(11, 12, 12);
    }
    .desc{
        text-align: center;
        margin: 4rem;
    }

    .desc .name{
        font-size: 22px;
        font-weight: bold;
        color: white;
    }
    .desc .oph{
        font-size: 22px;
        font-weight: bold;
        color: white;


    }
    .desc label{
        font-size:22px;
        font-weight: bold;
        color: white;
    }
    .name{

        font-weight: bold;
        color: white;
    }
    .desc span
    {
        color: white;
    }