@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    background: linear-gradient(to top, #58151A, #BC2909, #BA6D09, #71A8EE, #3072EB, #1552C6, #0542A8);
}

main {
    min-height: 120vh;
    margin: 0;
    padding: 0;
    background-image: url(../assests/bimg1.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 1rem;
    padding-top: .5rem;

}
.remove {
    position: absolute;
    width: 100vw;
    height: 20vh;
    font-size: 40px;
    left: 0;
    top: 20vh;
    display: flex;
}

.m1, .m2 {
    font-weight: bold;
    color: #fff;
}

.m1 {
    margin-left: 30px;
}

.m2 {
    margin-left: auto;
    margin-right: 30px;
    z-index: 10;
}

.close-btn {
    position: absolute;
    background-color: #555;
    color: #fff;
    display: inline;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 100%;
    transform: translateX(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    background-color: #f00;
}

.login {
    border: 1px solid black;
    position: absolute;
    width: 40%;
    height: 30%;
    margin-left: 25%;
    margin-top: 100px;
    z-index: 6;
    display: none;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
}
label{
    display: block;
}
.login-btn:hover{
    background: #ff7200;
    display: none;
}
.close-btn input{
    background: #ff7200;

}
.register {
    border: 1px solid black;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    z-index: 6;
    display: none;
    background: gray;
}
.main {
    border: 2px solid red;
}

.container {
    display: flex;
    margin: 3rem;
    gap: 2rem;
    flex-flow: row wrap;
}

figure {
    width: min(100%, 300px);
    /* border: 2px solid gray; */
    /* background-color:gray; */
    /* border-radius: 1rem; */
    padding: .5rem;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.name {
    font-size: 2rem;
    margin-left: 1rem;
    font-family: 'Dancing Script', cursive;
    color: linear-gradient(to top, #58151A, #BC2909, #BA6D09, #71A8EE, #3072EB, #1552C6, #0542A8);
}
