* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.close-btn {
    position: absolute;
    background-color: #555;
    color: #fff;
    display: inline;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 100%;
    transform: translateX(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    background-color: #f00;
}

.login {
    border: 1px solid black;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    z-index: 6;
    display: none;
}
.register {
    border: 1px solid black;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    z-index: 6;
    display: none;
}

body {
    background-image: url('../includes/turf3.jpg');
    background-size: cover;
}
.slider {
    margin-left: 15vw;
    margin-top: 40px;
}

.images {
    position: absolute;
    min-width: 600px;
    width: 70vw;
    height: 70vh;
    display: block;
    animation: fadeIn 5s;
}
